[project]
name = "hhd"
version = "0.2.6"
authors = [
  { name="Kapenekakis Antheas", email="pypi@antheas.dev" },
]
description = "Handheld Daemon, a tool for configuring handheld devices."
readme = "readme.md"
requires-python = ">=3.10"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]

dependencies = [
  "evdev>=1.6.1",
  "PyYAML>=6.0.1",
  "rich>=13.5.2",
  "setuptools>=65.5.1",
]

[project.urls]
"Homepage" = "https://github.com/antheas/hhd"
"Bug Tracker" = "https://github.com/antheas/hhd/issues"

[project.entry-points."console_scripts"]
hhd = "hhd.__main__:main"
"hhd.legion_go" = "hhd.device.legion_go:main"

[project.entry-points."hhd.plugins"]
legion_go = "hhd.device.legion_go:autodetect"
powerbuttond = "hhd.plugins.powerbutton:autodetect"

[build-system]
requires = ["setuptools>=61.0", "wheel"]
build-backend = "setuptools.build_meta"

[tool.setuptools.packages.find]
where = ["src"]  # list of folders that contain the packages (["."] by default)
include = ["hhd*"]  # package names should match these glob patterns (["*"] by default)