name: Publish to AUR

on:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  deploy_aur:
    runs-on: ubuntu-latest
    environment: prod

    steps:
      - uses: actions/checkout@v3
      - name: Publish AUR package
        uses: KSXGitHub/github-actions-deploy-aur@v2.7.0
        with:
          pkgname: hhd
          pkgbuild: ./PKGBUILD
          commit_username: ${{ secrets.AUR_USERNAME }}
          commit_email: ${{ secrets.AUR_EMAIL }}
          ssh_private_key: ${{ secrets.AUR_SSH_PRIVATE_KEY }}
          commit_message: manual update
          allow_empty_commits: false
          ssh_keyscan_types: rsa,ecdsa,ed25519
          updpkgsums: true
